scipy==1.14.1
soundfile==0.12.1
hydra-core
pydub==0.25.1
transformers
diffusers==0.31.0
matplotlib
resampy
accelerate==1.1.1
gdown==5.2.0
omegaconf==2.3.0
librosa
hypy_utils
pandas
laion-clap
git+https://github.com/microsoft/CLAP.git
encodec